*.user
*/Temporary/*
*/packages/*
*/x64/*
*/x86/*
*/.idea/*
*/*/*/x64
*/*/*/x86
*.ipch

ProtoGame2D/.vs/ProtoGame2D/v16/.suo

*.db
ProtoGame2D/.vs/ProtoGame2D/v16/Browse.VC.db-shm
ProtoGame2D/.vs/ProtoGame2D/v16/Browse.VC.db-wal
ProtoGame2D/.vs/ProtoGame2D/v16/Browse.VC.opendb
Sudoku/.vs/Sudoku/v16/.suo
*.log
Sudoku/GPUCache/index
Sudoku/GPUCache/data_3
Sudoku/GPUCache/data_2
Sudoku/GPUCache/data_1
Sudoku/GPUCache/data_0

Sudoku/Run/Temp/

EngineUnitTests/Code/Game/.idea/

EngineUnitTests/Code/Game/packages/

GalaxyBrain/.vs/

VisualTests/.vs/

SeatingChart/.vs/

SeatingChart/Run/Temp/

Louganis/.vs/Louganis/v16/

Engine/UnitTests/.vs/

Engine/UnitTests/Debug/UnitTests.tlog/

Engine/UnitTests/TestResults/8cdae5fd-c155-4889-869d-b8d26e819d69/

Engine/UnitTests/TestResults/bradj_DESKTOP-L4BUSOE_2024-09-22_18_14_19/

Louganis/Run/Temp/Debug/DevConsoleCommandHistory.txt
/Louganis/.vs/Louganis/v17
/Louganis/.vs/Louganis/FileContentIndex
/Louganis/.vs/Louganis/CopilotIndices/17.14.1091.29919

build-wasm/

Louganis/.vs/

Louganis/enc_temp_folder/

EngineUnitTests/.vs/

EngineUnitTests/Run/

Louganis/Run/Data/Animations/BlondeGuy/

Louganis/Run/Data/Images/

Daley/.vs/

Daley/Run/Temp/Debug/DevConsoleCommandHistory.txt
