*.user
*/Temporary/*
*/packages/*
*/x64/*
*/x86/*
*/.idea/*
*/*/*/x64
*/*/*/x86
*.ipch

ProtoGame2D/.vs/ProtoGame2D/v16/.suo

*.db
ProtoGame2D/.vs/ProtoGame2D/v16/Browse.VC.db-shm
ProtoGame2D/.vs/ProtoGame2D/v16/Browse.VC.db-wal
ProtoGame2D/.vs/ProtoGame2D/v16/Browse.VC.opendb
